.html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    box-sizing: border-box;
    
}

.slogan-container{
    width: 100%;
    height: 100%;

    position: absolute;
   top: 36%;

}

.top-image-slogen{
    text-align: center;
     
    color: #EA89B8;

    font-size: 6vw;
    font-family: playfair;
    font-weight: bold;
}

 
.ourbest-sellers{
    font-family: Arial;
        font-size: 24.6px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;

        color: #423826;
}

.contact-text{
  font-family: Figtree, Nunito, sans-serif;
  color: #F8D3E5;
  
}

.email-text{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: solid;
    border-width: 2px;
    border-color: #F8D3E5;
    border-radius: 2px;
}

