.html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    box-sizing: border-box;
    
}


.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    transition: 0.15s;
     background-color: #7EB6E6; 
     color: #CDE9F5;

    font-family: playfair;
    font-size: 118.75%;
    font-weight: bold;
    color: #CDE9F5;

    padding-top: 125%;
    padding-left: 62.5%;
    padding-right: 62.5%;
    padding-bottom: 250%;

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.icon-container{
    position: relative;
    color: #F8D3E5;
    display: flex;
    gap: 93.75%;
    align-items: center;

}

.kiss-st{
   margin: 0;
   text-align: center;

    display: inline-block;

    font-size: 187.5%;
}

.search-bar{
    height: 137.5%;
    border-radius: 62.5%;
   border: none;
   font-family: playfair;
   padding-left: 62.5%;
   background-color: #F8D3E5;
   margin-top: 12.5%;
}

.search-bar{
    border: none;
}

.search-bar::placeholder{
   color: #EA89B8;
    border: none;
     font-family: Figtree, Nunito, sans-serif;
}

.slogan-container{
    width: 100%;
    height: 100%;

    position: absolute;
   top: 36%;

}

.top-image-slogen{
    text-align: center;
     
    color: #EA89B8;

    font-size: 6vw;
    font-family: playfair;
    font-weight: bold;
}

 
.ourbest-sellers{
    font-family: Arial;
        font-size: 153.75%;
        text-align: center;
        margin-top: 187.5%;
        margin-bottom: 0;

        color: #423826;
}

.top-image-container{
    position: relative;
    width: 100%;
    padding-top: 5562.5%;
}

.top-image{
   width: 100%;
   height: 3125%;
   object-fit: cover;
   object-position: top;
}

.second-image-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 156.25%;
  row-gap: 250%;

  padding-bottom: 125%;
  padding-top: 125%;
  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 5000%){
    .second-image-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 4500%) and (min-width: 6250%){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 6250%){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.second-image-container img{
    object-fit: cover;
    width: 1875%;
    height: 1875%;
    border-radius: 12.5%;
}

.second-image-container p{
     font-family: Figtree, Nunito;
    font-size: 125%;
    width: 750%;
    color: #423826;
    margin-top: 12.5%;
}

.shopnow-button{
    position: absolute;

    top: 53%;
   left: 43%;
    text-align: center;

    font-size: 456.25%;
    font-family: playfair;
    color: #F7EEFD;
    width: 1250%;
    transform: translate(-50% -50%);

    border-radius: 62.5%;
    border: none;
    
    background-color: rgb(162, 202, 108);
    background-image: linear-gradient(to right, #A2CA6C, #678E34); 
  
    
    padding-bottom:31.25%;
    cursor: pointer;
    transition: opacity 0.15s;
    
}


.add-to-cart-button{
    width: 937.5%;
    transform: translate(-50% -50%);
   background-image: linear-gradient(to left, #F8D3E5, #F2AFBC); 
    cursor: pointer;
   transition: opacity, box-shadow 0.15s;

    border-radius: 62.5%;
    border: none;

    font-family: Figtree, Nunito;
    color: white;
    font-size: 93.75%;

    margin-bottom: 250%;
    padding-top: 31.25%;
    padding-bottom: 31.25%;
}

.add-to-cart-button:hover{
    box-shadow: 31.25% 31.25% 31.25% #F7D1D8;

}

.add-to-cart-button:active{
       opacity: 0.8;
           border: none;
           
}

.bottom-info {
  margin: 0;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  padding-left: 2%;
  padding-bottom: 5%;
  padding-top: 2%;

  background-color: #7EB6E6;
  background-image: linear-gradient(to right, #7EB6E6, #CDE9F5); 
}

.follow-text {
  font-family: Figtree, Nunito, sans-serif;
  color: #F8D3E5;
  padding-bottom: 12.5%;
}

.icons {
  display: flex;
  gap: 93.75%;
  margin-bottom: 281.25%;
}

.icons a {
  color: inherit;
  text-decoration: none;
}

.fa-brands.fa-tiktok{
  color: #F8D3E5;
  font-size: clamp(112.5%, 2.5vw, 162.5%);
}

.fa-brands.fa-instagram{
    color: #F8D3E5;
  font-size: clamp(112%, 2.5vw, 162.5%);
}

.join-button{
    background-color: #F8D3E5;
    color: #423826;
    font-family: Figtree, Nunito, sans-serif;
    font-size: 100%;

    border: none;
    border-width: 6.25%;
    border-radius: 12.5%;

    padding-left: 156.25%;
    padding-right: 156.25%;
    padding-bottom: 50%;
    padding-top: 50%;
    margin-bottom: 125%;
}

.contact-text{
  font-family: Figtree, Nunito, sans-serif;
  color: #F8D3E5;
  
}

.email-text{
    margin-top: 31.25%;
    margin-bottom: 62.5%;
    padding-left: 93.75%;
    padding-right: 1250%;
    padding-top: 62.5%;
    padding-bottom: 62.5%;

    border: solid;
    border-width: 12.5%;
    border-color: #F8D3E5;
    border-radius: 12.5%;
}

