.html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    box-sizing: border-box;
    
}


.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    transition: 0.15s;
    background-color: #7EB6E6;  

    font-family: playfair;
    font-size: 12px;
    font-weight: bold;
    color: #CDE9F5;

    padding-top:20px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 40px;

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.icon-container{
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;

}

.icon-container i{
    color: #F8D3E5;
}

.kiss-st{
   margin: 0;
   text-align: center;

    display: inline-block;

    font-size: 30px;
}

.slogan-container{
    width: 100%;
    height: 100%;

    position: absolute;
   top: 26%;

}

.top-image-slogen{
    text-align: center;
     
    color: #EA89B8;

    font-size: 23px;
    font-family: playfair;
    font-weight: bold;
}

 
.ourbest-sellers{
    font-family: Arial;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;

        color: #423826;
}

.top-image-container{
    position: relative;
    width: 100%;
    padding-top: 70px;
}

.top-image{
   width: 100%;
   height: auto;
   object-fit: cover;
   object-position: top;
}

.second-image-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;

  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 600px){
    .second-image-container{
        grid-template-columns: 1fr;
        align-items: center;
    }
}

@media (max-width: 600px) and (min-width: 999px){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 999px){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.second-image-container img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    
}

.second-image-container p{
     font-family: Figtree, Nunito;
      font-size: clamp(18px, 2.5vw, 26px);
    width: 120px;
    border-radius: 2px;
    color: #423826;
    margin-top: 0.125rem;
}

.shopnow-button{
    position: absolute;

    top: 53%;
   left: 43%;
    text-align: center;

    font-size: 4.563rem;
    font-family: playfair;
    color: #F7EEFD;
    width: 1250%;
    transform: translate(-50% -50%);

    border-radius: 5px;
    border: none;
    
    background-color: rgb(162, 202, 108);
    background-image: linear-gradient(to right, #A2CA6C, #678E34); 
  
    
    padding-bottom: 0.625rem;
    cursor: pointer;
    transition: opacity 0.15s;
    
}


.add-to-cart-button{
    width: 150px;
    transform: translate(-50% -50%);
   background-image: linear-gradient(to left, #F8D3E5, #F2AFBC); 
    cursor: pointer;
   transition: opacity, box-shadow 0.15s;

    border-radius: 10px;
    border: none;

    font-family: Figtree, Nunito;
    color: white;
    font-size: 0.938rem;

    margin-bottom: 2.5rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
}

.add-to-cart-button:hover{
    box-shadow: 5px 5px 5px #F7D1D8;

}

.add-to-cart-button:active{
       opacity: 0.8;
           border: none;
           
}

.bottom-info {
  margin: 0;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  padding-left: 7px;
  padding-bottom: 10px;
  padding-top: 2px;

  background-color: #7EB6E6; 
}

.follow-text {
  font-family: Figtree, Nunito, sans-serif;
  color: #F8D3E5;
  padding-bottom: 18px;
}

.icons {
  display: flex;
  gap: 5px;
  margin-bottom: 45px;
}

.icons a {
  color: inherit;
  text-decoration: none;
}

.fa-brands.fa-tiktok{
  color: #F8D3E5;
  font-size: clamp(18px, 2.5vw,26px);
}

.fa-brands.fa-instagram{
    color: #F8D3E5;
  font-size: clamp(18px, 2.5vw, 26px);
}

.join-button{
    background-color: #F8D3E5;
    color: #423826;
    font-family: Figtree, Nunito, sans-serif;
    font-size: 16px;

    border: none;
    border-width: 1px;
    border-radius:2px;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom:20px;
}

.contact-text{
  font-family: Figtree, Nunito, sans-serif;
  color: #F8D3E5;
  
}

.email-text{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: solid;
    border-width: 2px;
    border-color: #F8D3E5;
    border-radius:2px;
}

@media (max-width: 600px){
    .container {
        width: 100%;
    
    }
}

@media (max-width: 601px) {
    .container{
        width: 100%;
       
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        
    }
}

@media (max-width: 992px) {
    .container{
        width: 100%;
      
    }
}

@media (max-width: 1200px) {
    .container{
        width: 100%;
        
    }
}






