.top-image-container{
    position: relative;
    width: 100%;
    padding-top: 90px;
}

.top-image{
   width: 100%;
   height: 500px;
   object-fit: cover;
   object-position: top;
}

.second-image-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 40px;

  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 800px){
    .second-image-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) and (min-width: 1000px){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .second-image-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.second-image-container img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 2px;
}

.second-image-container p{
     font-family: Figtree, Nunito;
    font-size: 20px;
    width: 120px;
    color: #423826;
    font-size: 15px;
    margin-top: 2px;
}



